nav {
    background-color: #171c24;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
     /* Tambahkan margin pada bagian bawah nav */
}

nav .logo {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    text-align: left;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    position: relative;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #171c24;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 5px 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
}

nav ul li:hover > ul {
    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

nav ul li ul li {
    border-top: 1px solid #444;
}

nav ul li ul li a {
    padding: 10px;
}

nav ul li ul ul {
    left: 100%;
    top: 0;
    border-radius: 0 5px 5px 5px;
}