body {
    background-color: rgb(19, 2, 39);
}

.card {
    width: 200px;
    height: 200px;
    background: orange;
    border: 2px solid white;
    cursor: pointer;
    margin: 20px;
    transition: all ease 0.3s;
    color: orange;
    font-size: 20px;
}

.card:hover {
    border-radius: 50px 20px 50px 20px;
    background-color: rgba(19, 2, 39, 0.5);
    color: aliceblue;
    
}